apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: flask-devops-showcase
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: flask-devops-showcase
  minReplicas: 2
  maxReplicas: 6
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
